.filepond--root .filepond--credits[style] {
    display: none;
}
.course-pic img {
    height: 250px;
    object-fit: cover;
}

.counter-list li{
    height: 350px;
}
.counter-list img{
    height: 350px;
    object-fit: cover;
}

.counter-list li:nth-child(1) img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px 
}

.upcoming-desc{
    width: 100%;
}

.portfolio img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.footer-image-list li img {
    object-fit: cover;
    height: 100%;
    width: 100px;
}

.footer-image-list li {
    width: unset;
}

.blog-image{
    width: 50%;
}

.blog-image img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.subheader1-img img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.pagination-gallery{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.course-select .selectBtn{
    width: 100px;
    float: right;
}

.centered {
    width: 100%;
}

.centered li {
    position: unset;
}

.dropdown-item:focus, .dropdown-item:hover{
    background: #fff;
}

.total1{
    font-size: 1.5rem;
}

.view-chapters{
    font-size: 1.2rem;
}

.enroll{
    background-image: linear-gradient(to left, #076fef, #01b9f1);
    padding: 10px 20px;
    bottom: 10px;
    color: #fff;
    border-radius: 5px;
}

.enroll:hover{
    color: #fff;
    background: #111;
}

#portfoliolist > .portfolio{
    padding: 5px;
}

select.form-control{
    color: #111;
}

#add_cart{
    font-weight: 700;
    font-size: 1rem;
    height: 43px;
}